.dashboard {
  width: 100%;
  background-color: #dadfda;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.content {
  margin: 3%;
}

.card {
  border-radius: 5px;
}

/* User Content */

.userCard {
  border-radius: 10px;
  font-family: "Taviraj", serif;
  font-weight: bold;
  border-radius: 10px;
  /* background: linear-gradient(145deg, #e9efe9, #c4c9c4); */
  background: #dadfda;
  box-shadow: 10px 10px 67px #a4a7a4, -10px -10px 67px #ffffff;
  padding: 2%;
}

.userImg {
  border-radius: 10px 10px 0px 0px;
  background-color: #909d90;
  display: flex;
  justify-content: center;
}

.userImg svg {
  border-radius: 50%;
  background-color: #e9efe9;
  padding: 8%;
  margin: 5%;
}

/* Icons */
.friend {
  margin: 2%;
}

.envelope {
  margin: 2%;
}

.asterisk {
  margin: 2%;
}
