
.nav-container {
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.searchbarContainer {
    display: flex;
    align-items: center;
}