.navBar {
    background-color: #C1CDC0;
    padding: none;
    border-radius: 0px 0px 10px 10px;
}

.nav-container {
    display: flex;
    padding: .5%;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

/* Branding */

.brand{
    padding: 5px;
    font-size: 30px;
}

.brand img{
    margin-right: 10px;
    margin-left: 10px;
}

.brand #text {
    padding-right: 2px;
}


.navbar-collapse {
    display: flex;
    justify-content: end;
}

.searchbarContainer {
    display: flex;
    align-items: center;
}

.navbar-nav{
    align-items: center;
}

.navOptions {
    display: flex;
}